*{
    width: 100%;
    padding: 0;
    margin: 0 ;
}

html{
    overflow: auto;
}

body{
/*    margin: 0 auto;*/
/*    font-family: 'Helvetica Neue', "Arial", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",sans-serif;*/
    
    font-family:'KabelLTStd', "游ゴシック体", "Yu Gothic", "YuGothic", 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    min-width: 100vw;
}
@font-face {
  font-family: 'KabelLTStd';
  src: url(/assets/KabelLTStd-Light.otf);
}

a{
    text-decoration: none;
    color: #fff;
}
h2{
    font-size: 2.4em;
    margin-top : 2em;
    color: #111;
    letter-spacing: 0.08em;
    
}
h3{
    font-size: 0.8em;
    font-weight: normal;
    color: #111;
    margin-bottom: 2em;
}

li{
    list-style: none;
}


.box{
    height: 100vh;
    
}


.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}





/*fuwat*/

.fuwatAnime {
     -webkit-animation-fill-mode:both;
     -ms-animation-fill-mode:both;
     animation-fill-mode:both;
     -webkit-animation-duration:1.5s;
     -ms-animation-duration:1.5s;
     animation-duration:1.5s;
     -webkit-animation-name: fuwatAnime;
     -ms-animation-name: fuwatAnime;
     animation-name: fuwatAnime;
     visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
     0% { opacity: 0; -webkit-transform: translateY(-20px); }
     100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
     0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
     100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


clear{
    clear: both;
}

header{
    position: relative;
    height: 100vh;
}
header img{
    width: 90vw;
    padding: 40px 0;
    z-index: 0;
}

header h1{
    font-size: 7.6vw;
    z-index: 1;
    position: absolute;
    top: 44%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    letter-spacing: 0.2em;
    color: #fff;
}

header p{
    font-size: 2vw;
    z-index: 1;
    position: absolute;
    top: 64%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    letter-spacing: 0.2em;
    color: #fff;
}
.scroll{
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    z-index: 1;
    font-family: "Avenir Next";
    font-size: 0.8em;
    letter-spacing: 0.2em;
}


.hash{
    display: block;
    padding-top: 74vw; 
    padding-left: 0;
    padding-right: 0;
    line-height: 1.4em;
    font-size: calc(42px + 0.42vw) ;
}

.date{
    display: block;
    padding-top: 50vw;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.4em;
    font-size: calc(18px + 0.25vw) ;
}


a span {
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.about{
    text-align: center;
    position: relative;
    height: 100%;
}

.pink-bg{
    background-color: #D68592;
    display: inline-block;
}


.about-m{
    position: relative;
    height: 100%;
    display: block;
    padding-bottom: 4em;
}
#about-m-shita{
    color: #fff;
    font-size: 10vw;
    opacity: 0.6;
    padding-top: 84vh;
    letter-spacing: 0.12em;
}

#about-m-ue{
    position: absolute;
    top: 94vh;
    color: #000;
    font-size: 2vw;
    font-size: 2vw;
    letter-spacing: 0.2em;
}
#about-m{
    font-size: 18px;
    font-weight: bold;
    line-height: 2.8em;
    letter-spacing: 0.2em;
    color: #111;
    padding-bottom: 40px;
}
p .txt-white{
    color: #fff;
    line-height: 2.4em;
    font-weight: normal;
}
p .txt-white2{
    color: #fff;
    line-height: 4.6em;
    font-weight: normal;
}

.event{
    margin: 20px auto;
    position: relative;
    height: 100vh;
}
.event p{
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
    line-height: 2.4em;
    font-size: 0.86em;
}
.event-content{
    display: flex;
}

.event-bg{
    content: "";
    width: 100%;
    height: 80vh;
    max-height: 450px;
    min-height: 320px;
    position: fixed;
    top: 300px;
    left: 0;
    background: #D68592;
    z-index: -1;
}

.event-img img{
    width: 50vw;
    float: left;
    z-index: 1;
}
.event-txt{
    padding-top: 132px;
    position: absolute;
    left: 54vw;

}
.event-txt p{
    line-height: 2.6em;
    font-size: 1.0vw;
    text-align: left;
    z-index: 2;
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
}



.contents-txt{
    width: 80%;
}
.contents-txt p{
    font-size: 0.84em;
    line-height: 2.2em;
}
.contents-txt span{
    font-size: 1.8em;
    line-height: 2.2em;
    letter-spacing: 0.24em;
}


.contents{
    margin: 40px 0;
    position: relative;
    height: 100vh;
}
.contents p{
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
    line-height: 2.4em;
    font-size: 0.86em;
}


.contents-bg{
    margin-left: 40px; 
    content: "";
    width: 100%;
    height: 80vh;
    max-height: 450px;
    min-height: 320px;
    position: fixed;
    top: 240px;
    left: 0;
    background: #D68592;
    z-index: -1;
}
.contents-txt{
    padding-top: 132px;
    position: fixed;
    left: 4vw;
    top: -0.8vh;
}

.contents-img img{
    width: 50vw;
    float: right;
    z-index: 1;
}

.contents-title{
    font-size: 2em;
    font-weight: bold;
}
.contents-txt p{
    line-height: 2.6em;
    font-size: 1.0vw;
    text-align: left;
    z-index: 2;
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
}

/*ゲスト*/
.guest{
    padding-bottom: 4em;
    padding-top: 0.3em;
    height: 100vh;
    z-index: 1;
}
.guest h2{
    font-size: 2.4em;
    margin-top: 1em;
    color: #111;
    letter-spacing: 0.08em;
}
.guest-content{
    width: 80vw;
    content: "";
    background: #D68592;
    display: flex;
    padding: 10vh 14vw;
}
.guest-prof{
    width: 18vw;
    padding: 0 3vw;
}
.guest-prof img{
    width: 16vw;
}
.guest-prof p{
    padding-top: 1.2em;
    font-size: 0.74vw;
    font-family:  "游ゴシック体", "Yu Gothic", "YuGothic"; 
    line-height: 1.4em;
    letter-spacing: 0.14em;
}

.guest-prof a{
    color: #fff;
    font-size: 12px;
}

.guest-prof a:hover{
    color: #eee;
    font-size: 12px;
}

.name{
    font-size: 1.2vw;
/*    font-weight: bold;*/
    letter-spacing: 0.2em;
    color: #111;
}
.name-eng{
    font-size: 1.2vw;
    font-family: 'Avenir';
    font-weight: 100;
    opacity: 0.6;
    color: #fff;
}




/*開催概要*/

.place{
 width: 100%;
}

.access-google-map{
    width: 40%;
    display: inline-block;

}
.place-txt{
    text-align: left;
    font-size: 0.8em;
    width: 30%;
    display: inline-block;
    padding: 2em;
}
.place-txt p{
    line-height:1.8em;
}
.place-txt span{
    font-size: 1.6em;
    padding-bottom: 1.4em;
}

.item{
    line-height: 2.2em;
    font-size: 1.2vw;
}



/*Schedule*/
.schedule{
    width: 100vw;
}
.schedule img{
    width: 40vw;
}




/*お申し込みボタン*/

.moushikomi{
    padding: 40px 40px 40px 16px;
}
.button {
width: 40%;
  position: relative;
  display: inline-block;
  padding: 0.65em 2em;
  border: 2px solid #333;
  color: #333;
 letter-spacing: 0.2em;
font-weight: bold;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #D66F81;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button:hover {
  color: #fff;
}
.button:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



footer{
    text-align: center;
    font-size: 12px;
    color: #888;
    letter-spacing: 0.4em;
    padding: 60px 0;
    opacity: 0.5;
}

/*button*/
.btn{
  border-radius: 12px;
}
.btn:hover, .btn:focus{
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
          animation: gelatine 0.5s 1;
}

@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.socialIcon img{
    width: 32px;
    padding: 2px;
    margin-bottom:20px; 
}


/*レスポンシブ*/
 @media screen and (max-width: 750px) { 
     .body {
        margin: 0 auto;
        width: 100vw;
    }
     header img{
        z-index: 0;
        min-width: 180%;
        min-height: 100%;
        height: auto;
        padding-top: 0;
        margin-right: 20%; 
     }
     header h1{
        font-size: 7.6vw;
        z-index: 1;
        position: absolute;
        top: 24%;
        letter-spacing: 0.2em;
        color: #fff;
     }
     .about-m{
         height: 40vh;
         padding: 0;
     }
     header p{
        font-size: 2vw;
        z-index: 1;
        position: absolute;
        top: 32%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        letter-spacing: 0.2em;
        color: #fff;
    }
    .info{
         position: absolute;
         top: 60vh;
     }
    .hash{
        display: block;
        padding-top: 54vw; 
        line-height: 1.4em;
        font-size: 6vw;
    }

    .date{
        display: block;
        padding-top: 30vw;
        line-height: 1.4em;
        font-size: 0.32vw;
    }
    #about-m{
        font-size: 2.8vw;
        font-weight: bold;
        line-height: 2.8em;
        letter-spacing: 0.2em;
        color: #111;
        padding-bottom: 40px;
    }
    p .txt-white{
        color: #fff;
        line-height: 2.4em;
        font-weight: normal;
    }
    p .txt-white2{
        color: #fff;
        line-height: 4.6em;
        font-weight: normal;
    }
    #about-m-shita{
        color: #fff;
        font-size: 10vw;
        opacity: 0.6;
        padding-top: 8vh;
        letter-spacing: 0.12em;
    }

    #about-m-ue{
        position: absolute;
        top: 10vh;
        color: #000;
        font-size: 2vw;
        font-size: 2vw;
        letter-spacing: 0.2em;
    }
    .event{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        position: relative;
    }
    .event-content{
        display: block;
    }
    .event-img img{
        min-width: 100%;
        z-index: 0;
    }
     
    .event-txt p{
        font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
        line-height: 2.2em;
        font-size: 3.4vw;
        text-align: left;
        z-index: 2;
    }
    .event-txt{      
        opacity; 0.4;
        height: 50vh;
        width: 90vw;
        z-index: 2;
        font-size: 0.6vw;
        line-height: 0.8em;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 20vh;
        left: 4vw;
        position: absolute;
        color: #fff;
    }
     .event-bg{
        content: "";
        width: 100%;
        height: 100vh;
        max-height: 450px;
        min-height: 320px;
        position: absolute;
        top: 240px;
        left: 0;
        background: #D68592;
        z-index: -1;
    }
     
     
    h2{
        font-size: 2.4em;
        padding: 0;
        margin-top: 2.4em; 
    }
     
    h3{
        font-size: 0.64em;
        margin-top: -0.4em;
        margin-bottom: 1em;
    }
/*
     .contents-txt p{
        font-size: 2.2em;
        line-height: 1.6em;
    }
*/
     .contents{
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        height: 120vh;
    }
    .contents p{
        font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
        line-height: 2.4em;
        font-size: 0.86em;
    }
    .contents-content{
        display: block;
    }
    .contents-img img{
        min-width: 100%;
        z-index: 0;
    }
     


    .contents-txt{      
        opacity; 0.4;
        height: 50vh;
        width: 90vw;
        z-index: 2;
        line-height: 0.3em;
        padding-top: 20px;
        top: 34vh;
        left: 4vw;
        position: absolute;
        color: #111;
    }
     
     .contents-txt p{
        line-height: 2.6em;
        font-size: 3.4vw;
        text-align: left;
        z-index: 2;
        font-family: "游ゴシック体", "Yu Gothic", "YuGothic";
    }
     .contents-bg{
        content: "";
        width: 100%;
        height: 100vh;
        max-height: 140vh;
        min-height: 80vh;
        position: fixed;
        top: 240px;
        left: 0;
        background: #D68592;
        z-index: -1;
    }
     .contents-txt span{
        font-size: 3.4vw;
        line-height: 2.2em;
        letter-spacing: 0.24em;
     }
     .contents-title{
        font-size: 4vw;
        font-weight: bold;
    }
     
     /*ゲスト*/
    .guest{
        padding-bottom: 2em;
        padding-top: 40vh;
        height: 300vh;
    }
    .guest h2{
        font-size: 2.4em;
        margin-top: 0;
        color: #111;
        letter-spacing: 0.08em;
    }
    .guest-content{
        display: block;
        content: "";
        background: #D68592;
        padding: 10vh 10vw;
    }
    .guest-prof{
        width: 80vw;
        padding: 0;
        margin-bottom: 12vh;
    }
    .guest-prof img{
        width: 80vw;
    }
    .guest-prof p{
        padding-top: 0.6vw;
        font-size: 3.4vw;
        font-family:  "游ゴシック体", "Yu Gothic", "YuGothic"; 
        line-height: 1.4em;
        letter-spacing: 0.14em;
    }

    .guest-prof a{
        color: #fff;
        font-size: 3.2vw;
    }

    .guest-prof a:hover{
        color: #eee;
        font-size: 12px;
    }
     
    .name{
        font-size: 4.2vw;
        letter-spacing: 0.2em;
        color: #111;
    }
    .name-eng{
        font-size: 4vw;
        font-family: 'Avenir';
        font-weight: 100;
        opacity: 0.6;
        color: #fff;
    }
     
/*  schedule  */
     .schedule{
/*         margin-top: 40px; */
/*         position: static;*/
     }
     .schedule img{
         width: 100vw;
         min-width: 100%;
     }
/*  res-place  */
     .place-wrpper{
         float: none;
         margin: 0 2px;
         display: inline-block;
     }
    .access-google-map{
        width: 100%;
        display: inline-block;
    }
    .place-txt{
        text-align: left;
        font-size: 0.6em;
        width: 88vw;
        padding: 2vw;
    }
    .place-txt p{
        line-height:1.4em;
    }
    .place-txt span{
        font-size: 1.6em;
        padding-bottom: 1.4em;
    }
     .item{
         width: 88vw;
         margin: 20px auto;
         font-size: 8px;
     }
     .item p{
         text-align: left;
         color: #999;
     }
     
     
     
     .moushikomi{
        margin: 10vh 10vh 10vw -4vw;
    }
     
     
     
    

     
                
        
                 
            /*　画面サイズ 499pxから適用　*/
            /*.content {color: #red;}*/
    }
          
          @media screen and (min-width: 500px) and (max-width: 999px) {
            /*　画面サイズ 500pxから999pxまで適用　*/
        
            /*.content {color: #green;}*/
          }
          
          @media screen and (min-width:1000px) {
            /*　画面サイズ 1000px以上から適用　*/
            /*.content {color: #blue;}*/
          }
